.TotalPrice{
    border-color: #00A1C1;
    border-width: medium;
    border-style: solid;
    padding: 10px;
    border-radius: 25px;
}

.TotalPriceTitle.sapMBarChild.sapMTitle.sapMTitleMaxWidth.sapMTitleNoWrap.sapMTitleStyleH3.sapUiSelectable{
    color: #000;
    text-shadow: 0 0 0.125rem #fff;
}
